@model Mathance.Models.Post

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

<h1 class="display-4">Create a task</h1>
<div class="container">
<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="CreatePost" autocomplete="off" asp-route-name="@ViewBag.Name">
    <div class="container">
        <div class="form-group">        
            <label for="topic">Topic</label>
            <select class="form-select" placeholder="Topic" name="topic" id="topic" required>
                <option>Math</option>
                <option>Java</option>
                <option>.Net</option>
                <option>C++</option>
                <option>Python</option>
            </select>
        </div>
        
        <div class="form-group">        
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" required>
        </div>

        <div class="form-group">
            <div class="mdeContainer">
                <label for="text">Text</label>
                <textarea name="text" class="form-control" id="text" rows="5" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-file mt-1">
                <input name="images" type="file" id="inputGroupFile01" accept=".jpg, .png, .jpeg" multiple/>
            </div>
        </div>
        
        <div class="form-group">        
            <label>Tags</label>
            <input type="text" id="tag0" class="form-control" placeholder="Tag " name="tags" autocomplete="off" required>
            <div id="inputTag"></div>
            <button type="button" id="add-tag" class="btn btn-red-light-alt" onclick="addTagInput()">One more tag!</button>
        </div>

        <div class="form-group">        
            <label>Possible answers</label>
            <input id="answer" type="text" class="form-control" placeholder="Answer" name="rightanswers" required>
            <div id="inputAnswer0"></div>
            <button type="button" class="btn btn-red-light-alt" onclick="addAnswerInput()">One more answer!</button>
        </div>
        
        <div class="form-group text-right">
            <input type="submit" class="btn btn-red-light" value="Create"/>
        </div>
    </div>
</form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.min.js" ></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>

<script> 
    let tags = $.ajax('/Posts/GetTagsList', {
        contentType: "application/json",
            dataType: "json",
            type: "GET",
            global: false,
            async:false,
            success: function(response) {
                return response;
        },
        error: function(data) {
            alert(data);
        }
    }).responseText;
    
    $("#tag0").autocomplete({ source: JSON.parse(tags) });

    let iteratorForTags = 0;
    $("#add-tag").click(() => {
        let el = $('<input type="text" class="form-control mt-2" id="tag'+ (iteratorForTags + 1) +'" placeholder="Tag" name="tags" required>')
            .on('click', (function(e) { 
                $(this).autocomplete({ source: JSON.parse(tags) })
            }));
        $("#inputTag").append(el);
        iteratorForTags++;
    });
    
    let iteratorForAnswers = 0; 
    function addAnswerInput() {
        document.getElementById('inputAnswer' + iteratorForAnswers).innerHTML = 
            '<input type="text" class="form-control mt-2" id="answer" placeholder="Your answer" name="rightanswers" required>' +
            '<div id="inputAnswer' + (iteratorForAnswers + 1) + '"></div>';
        iteratorForAnswers++;
    }

    $("#inputGroupFile01").fileinput({
        allowedFileTypes: ['image'],
        allowedFileExtensions : ['jpg', 'jpeg', 'png'],
        showZoom: false,
        uploadAsync: false,
        dropZoneEnabled: true,
        showUpload: false,
        showRemove: true,
        showPreview: true,
        showBrowse: true,
        showCaption: false,
        showUploadStats: false,
        showCancel: false,
        showClose:false,
        browseOnZoneClick: true
    });
</script>

