@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = @_localizer["AccessDenied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@_localizer["NoAccess"]</p>
</header>
